.about-us {
  padding: 120px 0;
}
.about-us .container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.about-us-img {
  max-width: 650px;
  width: 100%;
  border-radius: 16px;
  aspect-ratio: 16 / 10;
}

.about-us-img img {
  border-radius: 16px;
  width: 100%;
}

.about-us-text {
  max-width: 660px;
  width: 100%;
}

.about-us-text-title {
  font-family: PT Serif Caption;
  font-weight: 400;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0%;
  margin-bottom: 16px;
}

.about-us-text-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-us-text-content-row {
  display: flex;
  align-items: center;
  gap: 16px;
}
.about-us-text-content-row-count {
  font-family: PT Serif Caption;
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0%;
}
.about-us-text-content-row-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
}

.about-us-documents {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}
.about-us-document {
  max-width: 215px;
  width: 100%;
}

.about-us-document img{
  width: 100%;
}

@media (max-width: 920px) {

  .about-us-img{
    aspect-ratio: auto;
  }
  .about-us {
    padding: 80px 0;
  }

  .about-us .container {
    flex-direction: column;
    gap: 32px;
  }

  .about-us-img,
  .about-us-text {
    max-width: 100%;
  }

  .about-us-text-title {
    font-size: 32px;
  }

  .about-us-document {
    max-width: 180px;
  }
}

@media (max-width: 600px) {
  .about-us {
    padding: 60px 0;
  }

  .about-us .container {
    gap: 24px;
  }

  .about-us-text-title {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 6px;
  }

  .about-us-text-content {
    margin-top: 12px;
    gap: 12px;
  }

  .about-us-text-content-row {
    align-items: flex-start;
    gap: 12px;
  }

  .about-us-text-content-row-count {
    font-size: 24px;
    min-width: 35px;
  }

  .about-us-text-content-row-text {
    font-size: 16px;
  }

  .about-us-documents {
    margin-top: 24px;
    gap: 12px;
  }

  .about-us-document {
    max-width: 100%;
  }
}