.WardrobeHero {
  padding: 124px 0 0;
}

.WardrobeHero .container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-end;
}

.WardrobeHero-back {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #3f3121;
  letter-spacing: 0%;
}

.WardrobeHero-left {
  max-width: 700px;
  width: 100%;
}
.WardrobeHero-left-main-img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1.42/1;
  margin-bottom: 7px;
  border-radius: 4px;
}

.WardrobeHero-left-main-img img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1.42/1;
  border-radius: 4px;
}

.wardrobe-swiper {
  width: 100%;
  padding: 0 0 16px;
}

.wardrobe-swiper .swiper-wrapper {
  width: max-content;
}

.wardrobe-swiper .swiper-slide {
  width: 110px;
  height: 110px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.wardrobe-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s;
}

.wardrobe-swiper-img {
  border-radius: 4px;
  border: 2px solid transparent;
}
.wardrobe-swiper-img.active {
  border: 2px solid #b57b42;
}

.wardrobe-swiper .swiper-scrollbar {
  height: 4px !important;
  background: rgba(0, 0, 0, 0.08);
}

.wardrobe-swiper .swiper-scrollbar-drag {
  background: #b57b42;
}

.wardrobe-swiper .swiper-scrollbar {
  left: 0 !important;
  right: 0 !important;
  width: auto !important;
}

.wardrobe-swiper {
  --swiper-scrollbar-sides-offset: 0px;
}

.WardrobeHero-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.WardrobeHero-right-title {
  font-family: PT Serif Caption;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.WardrobeHero-right-price {
  font-family: PT Serif Caption;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0%;
  align-items: center;
  display: flex;
  gap: 15px;
  padding: 24px 0;
}
.WardrobeHero-right-price span {
  font-size: 44px;
}

.WardrobeHero-right-button {
  max-width: 280px;
  width: 100%;
  background: #b57b42;

  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffff;
  border-radius: 4px;
  padding: 20px 0;

  box-shadow: 0px 0px 24px 0px #eaa562 inset;

  cursor: pointer;
  transition: all 0.3s ease;
}

.WardrobeHero-right-button:hover {
  box-shadow:
    inset 0 0 32px rgb(255, 190, 120),
    0 8px 24px rgba(181, 123, 66, 0.4);
  transform: translateY(-2px);
}

.WardrobeHero-right-text-description {
  padding: 32px 0;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 120%;
}
.WardrobeHero-right-advantages {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 0;
  border-top: 1px solid #3f312114;
  border-bottom: 1px solid #3f312114;
}
.WardrobeHero-right-advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
